<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="css/result.css">
    <link rel="icon" href="/img/favicon.ico">
</head>
<body>
    <section id="result-section">
        <h1>Detalhes do Cep</h1>

        <h2>Cep: <%= cep %> </h2>

        <p>Logradouro: <%= logradouro %> </p>

        <p>Complemento: <%= complemento%></p>

        <p>Bairro: <%= bairro%></p>
        <p>Localidade:  <%= uf %></p>
        <p>DDD:  <%= ddd%></p>

        <p>localidade:  <%= localidade%></p>
        <p>IBGE:  <%= ibge%></p>
        <p>Gia:  <%= gia%></p>
        <p>Siafi:  <%= siafi%></p>

        <a href="/" class="result-link">Voltar pra Home 🏠!</a>
    </section>
</body>
</html>